.topheader
  .topheaderinner
    .middleheader
      %h1.picture
        = link_to root_path do
          = image_tag 'furima.svg', height:'40.55',width:'130'
      .kensakubox
        %form{action: '/', method: 'get'}
          %input{name: "utf8", type: "hidden", value: "✔︎"}
          %input{class: "kensakubox--input", id: "kensakuinput", name: "key", placeholder: "キーワードから探す"}
          %button{type: "submit", value: ""}
            .kensakubox__icon
              = image_tag "icon-search.png"
        %ul.outcome
    .mav
      %ul.boardleft
        %li.boardleft__item--first
          = link_to url="#" do 
            カテゴリー
            -# .forestdiplaynote　以下今後使いますよ。
            -# %ul{"class"=>"categoryforest"}
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '1'} レディース
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '2'} メンズ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '3'} ベビー・キッズ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '4'} インテリア・住まい・小物
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '5'} 本・音楽・ゲーム
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '6'} おもちゃ・ホビー・グッズ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '7'} コスメ・香水・美容
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '8'} 家電・スマホ・カメラ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '9'} スポーツ・レジャー
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '10'} ハンドメイド
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '11'} チケット
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '12'} 自動車・オートバイ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '13'} その他
        %li.boardleft__item
          = link_to url="#" do 
            ブランド
            %ul.branddiplaynote
      %ul.boardright
        - if user_signed_in?
          %li.boardright__item--first
            -# = link_to "ログアウト", destroy_user_session_path, class: "logout", method: :delete
          %li.boardright__item
            = link_to "マイページ", "/users/#{current_user.id}", method: :get
        - else
          %li.boardright__item--first
            = link_to "新規登録", new_user_registration_path
          %li.boardright__item
            = link_to "ログイン", new_user_session_path
