.topheader
  .topheaderinner
    .middleheader
      %h1.picture
        = link_to root_path do
          = image_tag 'furima.svg', height:'40.55',width:'130'
      .kensakubox
        %form{action: '/', method: 'get'}
          %input{name: "utf8", type: "hidden", value: "✔︎"}
          %input{class: "kensakubox--input", id: "kensakuinput", name: "key", placeholder: "キーワードから探す"}
          %button{type: "submit", value: ""}
            .kensakubox__icon
              = image_tag "icon-search.png"
        %ul.outcome
    .mav
      %ul.boardleft
        %li.boardleft__item--first
          = link_to url="#" do 
            カテゴリー
            -# .forestdiplaynote　以下今後使いますよ。
            -# %ul{"class"=>"categoryforest"}
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '1'} レディース
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '2'} メンズ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '3'} ベビー・キッズ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '4'} インテリア・住まい・小物
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '5'} 本・音楽・ゲーム
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '6'} おもちゃ・ホビー・グッズ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '7'} コスメ・香水・美容
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '8'} 家電・スマホ・カメラ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '9'} スポーツ・レジャー
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '10'} ハンドメイド
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '11'} チケット
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '12'} 自動車・オートバイ
            -#   %li{"class"=>"categoryforest--item"}<
            -#     %a{:href => '#', :id => '13'} その他
        %li.boardleft__item
          = link_to url="#" do 
            ブランド
            %ul.branddiplaynote
      %ul.boardright
        - if user_signed_in?
          %li.boardright__item--first
            = link_to "ログアウト", destroy_user_session_path, class: "logout", method: :delete
          %li.boardright__item
            = link_to "マイページ", "/users/#{current_user.id}", method: :get
        - else
          %li.boardright__item--first
            = link_to "新規登録", new_user_registration_path
          %li.boardright__item
            = link_to "ログイン", new_user_session_path

.main
  %section.mainvs
    .naiyo
      %h2.naiyo__title
        %br 人生を変えるフリマアプリ
      %p.naiyo__text 
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .naiyo__btn
        .applebtn
          = image_tag "/assets/app-store.svg"
        .googlebtn
          = image_tag "/assets/google-play.svg"
    .gazo
  %section.topsyokai
    %h2.toptitle 
      FURIMAが選ばれる3つの理由
      .topcontent
    %ul.toplists
      %li.list
        .list__gazo
          %span.number 1
          = image_tag "/assets/pict-reason-01.jpg"
        %h3.list__sub
          %span 3分
          ですぐに出品
        %p.list__explain スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__gazo
          %span.number 2
          = image_tag "/assets/pict-reason-02.jpg"
        %h3.list__sub
          %span シンプル
          で使いやすい
        %p.list__explain めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list--last
        .list__gazo
          %span.number 3
          = image_tag "/assets/pict-reason-03.jpg"
        %h3.list__sub
          手数料
          %span 業界最安
        %p.list__explain 最大3%でお得に出品&購入！
  %section.topcenter
    .topcenter__inner
      %h2.bgtitle 会員数日本一位
      %p.toptext
        FURIMAは、フリマアプリで最も人気。
        %br 出品・購入回数も業界最多です！
        ほしかったあの商品に出会えるかもしれません。
      .topbtn
        .applebtn
          = image_tag "/assets/app-store.svg"
        .googlebtn
          = image_tag "/assets/google-play.svg"
  %section.toptrait
    %h2.tophead
      FURIMAの特徴
      .topcontent2
    .topitems
      %section.topitem
        %figure.topitem__img
          = image_tag "/assets/icon-01.png"
        %h3.topitem__subtitle 簡単に売り買いできる
        %p.topitem__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.topitem
        %figure.topitem__img
          = image_tag "/assets/icon-03.png"
        %h3.topitem__subtitle 売上金は即日振込みに対応 
        %p.topitem__detail 午前9時までに振込を依頼頂ければ、翌日に指定の口座に入金いたします！
      %section.topitem
        %figure.topitem__img
          = image_tag "/assets/icon-04.png"
        %h3.topitem__subtitle 様々な支払いに対応
        %p.topitem__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法がありますあります。
    %section.pickupbox 
      %h2.pickupbox--title ピックアップカテゴリー
      .pickupbox__category
        .pickupbox__category__head
          = link_to root_path do
            %h3.pickupbox__category__head--title  新規投稿商品
        .pickupbox__category__lists
          - @items.each do |item|
            -if item.buyer_id.present?
              .pickupbox__category__list
                %figure.pickupbox__category__lists--image
                  .items-box_photo__sold
                    .items-box_photo__sold__inner
                      SOLD
                  = image_tag ("#{item.images[0][:image]}")
                .pickupbox__category__list--text
                  %h3.name 
                    = item.name
                  .syosai
                    %ul
                      %li<> 
                        = item.price 
                        円
                      %li
                        %i.fa  
                        ★0
                    %p.zeikomi (税込)
            -else
              .pickupbox__category__list
                = link_to top_path(item.id) do
                  %figure.pickupbox__category__lists--image
                    = image_tag ("#{item.images[0][:image]}")
                  .pickupbox__category__list--text
                    %h3.name 
                      = item.name
                    .syosai
                      %ul
                        %li<> 
                          = item.price 
                          円
                        %li
                          %i.fa  
                          ★0
                      %p.zeikomi (税込)
  -# %section.pickupbox 
  -#   %h2.pickupbox--title ピックアップブランド
  -#   .pickupbox__category
  -#     .pickupbox__category__head
  -#       = link_to root_path do
  -#         %h3.pickupbox__category__head--title アーカイバ
  -#     .pickupbox__category__lists
  -#       .pickupbox__category__list
  -#         = link_to '/products/3' do
  -#           %figure.pickupbox__category__lists--image
  -#             = image_tag "/assets/products3.png"
  -#           .pickupbox__category__list--text
  -#             %h3.name product3
  -#             .syosai
  -#               %ul
  -#                 %li<> 30000円
  -#                 %li
  -#                   %i.fa  
  -#                   ★0
  -#               %p.zeikomi (税込)
  -#       .pickupbox__category__list
  -#         = link_to '/products/3' do
  -#           %figure.pickupbox__category__lists--image
  -#             = image_tag "/assets/products2.png"
  -#           .pickupbox__category__list--text
  -#             %h3.name product2
  -#             .syosai
  -#               %ul
  -#                 %li<> 20000円
  -#                 %li
  -#                   %i{"class"=>"fa fa-ster likeIcon"} 
  -#                   ★0
  -#               %p.zeikomi (税込)
  -#       .pickupbox__category__list
  -#         = link_to '/products/3' do
  -#           %figure.pickupbox__category__lists--image
  -#             = image_tag "/assets/products1.png"
  -#           .pickupbox__category__list--text
  -#             %h3.name product1
  -#             .syosai
  -#               %ul
  -#                 %li<> 10000円
  -#                 %li
  -#                   %i.fa 
  -#                   ★0
  -#               %p.zeikomi (税込)
  -# %section.pickupboxcontainer
.banner
  .banner__inner
    %h2.banner__inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__inner__text 今すぐ無料ダウンロード！
    .banner__inner__icon
      <img src="/assets/app-store.svg" width="180px" height="53.33px">
      <img src="/assets/google-play.svg" width="180px" height="53.33px">
      
= render 'top/footer.htlm.haml'