= render "top/header"
.main
  %section.mainvs
    .naiyo
      %h2.naiyo__title
        %br 人生を変えるフリマアプリ
      %p.naiyo__text 
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .naiyo__btn
        .applebtn
          = image_tag 'app-store.svg'
        .googlebtn
          = image_tag 'google-play.svg'
    .gazo
  %section.topsyokai
    %h2.toptitle 
      FURIMAが選ばれる3つの理由
      .topcontent
    %ul.toplists
      %li.list
        .list__gazo
          %span.number 1
          = image_tag "pict-reason-01.jpg"
        %h3.list__sub
          %span 3分
          ですぐに出品
        %p.list__explain スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__gazo
          %span.number 2
          = image_tag "pict-reason-02.jpg"
        %h3.list__sub
          %span シンプル
          で使いやすい
        %p.list__explain めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list--last
        .list__gazo
          %span.number 3
          = image_tag "pict-reason-03.jpg"
        %h3.list__sub
          手数料
          %span 業界最安
        %p.list__explain 最大3%でお得に出品&購入！
  %section.topcenter
    .topcenter__inner
      %h2.bgtitle 会員数日本一位
      %p.toptext
        FURIMAは、フリマアプリで最も人気。
        %br 出品・購入回数も業界最多です！
        ほしかったあの商品に出会えるかもしれません。
      .topbtn
        .applebtn
          = image_tag "app-store.svg"
        .googlebtn
          = image_tag "google-play.svg"
  %section.toptrait
    %h2.tophead
      FURIMAの特徴
      .topcontent2
    .topitems
      %section.topitem
        %figure.topitem__img
          = image_tag "icon-01.png"
        %h3.topitem__subtitle 簡単に売り買いできる
        %p.topitem__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.topitem
        %figure.topitem__img
          = image_tag "icon-03.png"
        %h3.topitem__subtitle 売上金は即日振込みに対応 
        %p.topitem__detail 午前9時までに振込を依頼頂ければ、翌日に指定の口座に入金いたします！
      %section.topitem
        %figure.topitem__img
          = image_tag "icon-04.png"
        %h3.topitem__subtitle 様々な支払いに対応
        %p.topitem__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法がありますあります。
    %section.pickupbox 
      %h2.pickupbox--title ピックアップカテゴリー
      .pickupbox__category
        .pickupbox__category__head
          = link_to root_path do
            %h3.pickupbox__category__head--title  新規投稿商品
        .pickupbox__category__lists
          - @items.each do |item|
            -if item.buyer_id.present?
              .pickupbox__category__list
                %figure.pickupbox__category__lists--image
                  .items-box_photo__sold
                    .items-box_photo__sold__inner
                      SOLD
                  = image_tag item.images[0].image.url
                .pickupbox__category__list--text
                  %h3.name 
                    = item.name
                  .syosai
                    %ul
                      %li<> 
                        = item.price 
                        円
                      %li
                        %i.fa  
                        ★0
                    %p.zeikomi (税込)
            -else
              .pickupbox__category__list
                - if user_signed_in?
                  = link_to user_item_path(item.user_id,item.id) do
                    %figure.pickupbox__category__lists--image
                      = image_tag item.images[0].image.url
                    .pickupbox__category__list--text
                      %h3.name 
                        = item.name
                      .syosai
                        %ul
                          %li<> 
                            = item.price 
                            円
                          %li
                            %i.fa  
                            ★0
                        %p.zeikomi (税込)
                - else
                  = link_to top_path(item.id) do
                    %figure.pickupbox__category__lists--image
                      = image_tag item.images[0].image.url
                    .pickupbox__category__list--text
                      %h3.name 
                        = item.name
                      .syosai
                        %ul
                          %li<> 
                            = item.price 
                            円
                          %li
                            %i.fa  
                            ★0
                        %p.zeikomi (税込)
.banner
  .banner__inner
    %h2.banner__inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__inner__text 今すぐ無料ダウンロード！
    .banner__inner__icon
      = image_tag 'app-store.svg'
      = image_tag 'google-play.svg'
= render 'top/footer.htlm.haml'