.topheader
  .topheaderinner
    .middleheader
      %h1{"class"=>"picture"}
        %a{:href => "#"}
          = image_tag "/assets/furima.svg"
      .kensakubox
        
        %ul{"class"=>"outcome"}
    .mav
      %ul{"class"=>"boardleft"}
        %li{"class"=>"boardleft__item--first"}
          %a{:href => '#', :id => 'smallbtn'} カテゴリー
          -# .forestdiplaynote
          -# %ul{"class"=>"categoryforest"}
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '1'} レディース
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '2'} メンズ
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '3'} ベビー・キッズ
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '4'} インテリア・住まい・小物
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '5'} 本・音楽・ゲーム
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '6'} おもちゃ・ホビー・グッズ
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '7'} コスメ・香水・美容
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '8'} 家電・スマホ・カメラ
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '9'} スポーツ・レジャー
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '10'} ハンドメイド
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '11'} チケット
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '12'} 自動車・オートバイ
          -#   %li{"class"=>"categoryforest--item"}<
          -#     %a{:href => '#', :id => '13'} その他
        %li{"class"=>"boardleft__item"}
          %a{:href => '#', :id => 'smallbtn'} ブランド
          %ul{"class"=>"branddiplaynote"}
      %ul{"class"=>"boardright"}
        - if user_signed_in?
          %li{"class"=>"boardright__item--first"}
            = link_to "ログアウト", destroy_user_session_path, class: "logout", method: :delete
          %li{"class"=>"boardright__item"}
            = link_to "マイページ", "/users/#{current_user.id}", method: :get
        - else
          %li{"class"=>"boardright__item--first"}
            = link_to "新規登録", new_user_registration_path
          %li{"class"=>"boardright__item"}
            = link_to "ログイン", new_user_session_path
.main
  .mainvs
    .naiyo
      %h2{"class"=>"naiyo__title"}
        %br 人生を変えるフリマアプリ
      %p{"class"=>"naiyo__text"} 
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .naiyo__btn
        %a{"class"=>"applebtn"}
          = image_tag "/assets/app-store.svg"
        %a{"class"=>"googlebtn"}
          = image_tag "/assets/google-play.svg"
    .gazo
  %section{"class"=>"pickupbox"} 
    %h2{"class"=>"pickupbox--title"} ピックアップカテゴリー
    .pickupbox__category
      .pickupbox__category__head
        %a{:href => '#'}
          %h3{"class"=>"pickupbox__category__head--title"}  新規投稿商品
      .pickupbox__category__lists
        .pickupbox__category__list
          %a{:href => "/products/3"}
            %figure{"class"=>"pickupbox__category__lists--image"}
              <img src="/assets/チキン南蛮.png" width="100%" height="130">
            .pickupbox__category__list--text
              %h3{"class"=>"name"}  product3
              .syosai
                %ul
                  %li<> 30000円
                  %li
                    %i{"class"=>"fa fa-ster likeIcon"} 
                    0
                  %p{"class"=>"zeikomi"} (税込)
        .pickupbox__category__list
          %a{:href => "/products/3"}
            %figure{"class"=>"pickupbox__category__lists--image"}
              <img src="/assets/チキン南蛮.png" width="100%" height="130">
            .pickupbox__category__list--text
              %h3{"class"=>"name"}  product2
              .syosai
                %ul
                  %li<> 20000円
                  %li
                    %i{"class"=>"fa fa-ster likeIcon"} 
                    0
                  %p{"class"=>"zeikomi"} (税込)
        .pickupbox__category__list
          %a{:href => "/products/3"}
            %figure{"class"=>"pickupbox__category__lists--image"}
              <img src="/assets/チキン南蛮.png" width="100%" height="130">
            .pickupbox__category__list--text
              %h3{"class"=>"name"}  product1
              .syosai
                %ul
                  %li<> 10000円
                  %li
                    %i{"class"=>"fa fa-ster likeIcon"} 
                    0
                  %p{"class"=>"zeikomi"} (税込)
  %section{"class"=>"pickupbox"} 
    %h2{"class"=>"pickupbox--title"} ピックアップブランド
    .pickupbox__category
      .pickupbox__category__head
        %a{:href => '#'}
          %h3{"class"=>"pickupbox__category__head--title"}  アーカイバ
      .pickupbox__category__lists
        .pickupbox__category__list
          %a{:href => "/products/3"}
            %figure{"class"=>"pickupbox__category__lists--image"}
              <img src="/assets/チキン南蛮.png" width="100%" height="130">
            .pickupbox__category__list--text
              %h3{"class"=>"name"}  product3
              .syosai
                %ul
                  %li<> 30000円
                  %li
                    %i{"class"=>"fa fa-ster likeIcon"} 
                    0
                  %p{"class"=>"zeikomi"} (税込)
        .pickupbox__category__list
          %a{:href => "/products/3"}
            %figure{"class"=>"pickupbox__category__lists--image"}
              <img src="/assets/チキン南蛮.png" width="100%" height="130">
            .pickupbox__category__list--text
              %h3{"class"=>"name"}  product2
              .syosai
                %ul
                  %li<> 20000円
                  %li
                    %i{"class"=>"fa fa-ster likeIcon"} 
                    0
                  %p{"class"=>"zeikomi"} (税込)
        .pickupbox__category__list
          %a{:href => "/products/3"}
            %figure{"class"=>"pickupbox__category__lists--image"}
              <img src="/assets/チキン南蛮.png" width="100%" height="130">
            .pickupbox__category__list--text
              %h3{"class"=>"name"}  product1
              .syosai
                %ul
                  %li<> 10000円
                  %li
                    %i{"class"=>"fa fa-ster likeIcon"} 
                    0
                  %p{"class"=>"zeikomi"} (税込)
.banner
  .banner__inner
    %h2{"class"=>"banner__inner__title"}  だれでもかんたん、人生を変えるフリマアプリ
    %p{"class"=>"banner__inner__text"}  今すぐ無料ダウンロード！
    .banner__inner__icon
      <img src="/assets/app-store.svg" width="180px" height="53.33px">
      <img src="/assets/google-play.svg" width="180px" height="53.33px">
      
.footer
  %ul{"class"=>"nakamis"}
    %li{"class"=>"nakami"}
      %h2{"class"=>"nakami__head"} FURIMAについて
      %ul
        %li<
          %a{:href => "#"} 会社概要(運営会社)
        %li<
          %a{:href => "#"} プライバシーポリシー
        %li<
          %a{:href => "#"} FURIMA利用規約
        %li<
          %a{:href => "#"} ポイントに関する特約
    %li{"class"=>"nakami"}
      %h2{"class"=>"nakami__head"} FURIMAを見る
      %ul
        %li<
          %a{:href => "#"} カテゴリー一覧
        %li<
          %a{:href => "#"} ブランド一覧
    %li{"class"=>"nakami"}
      %h2{"class"=>"nakami__head"} ヘルプ&ガイド
      %ul
        %li<
          %a{:href => "#"} FURIMAガイド
        %li<
          %a{:href => "#"} FURIMAロゴ利用ガイドライン
        %li<
          %a{:href => "#"} お知らせ
  .footer__lg
    %a{:href => "#"}
      = image_tag "/assets/logo-white.png"
    %p FURIMA
%a{:href => "#"}
  .buybtn
    %span{"class"=>"buybtn__text"} 出品する
    = image_tag "/assets/icon_camera.png", class:"buybtn__icon"
