%h2 送付先住所登録（2画面目）甲斐さん御願いします！
= fields_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .field
    = f.label :family_name
    %br/
    = f.text_field :family_name, readonly: true, style: "border: none"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, readonly: true, style: "border: none"
  .field
    = f.label :family_name_kana
    %br/
    = f.text_field :family_name_kana, readonly: true, style: "border: none"
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana, readonly: true, style: "border: none"

= form_for @destination do |f|
  = render "devise/shared/error_messages", resource: @destination
  .field
    = f.label :post_code
    %br/
    = f.text_field :post_code
  .field
    = f.label :prefecture_code
    %br/
    = f.text_field :prefecture_code
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :house_number
    %br/
    = f.text_field :house_number
  .field
    = f.label :building
    %br/
    = f.text_field :building
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number

  .actions
    = f.submit "Sign up"

= render "devise/shared/links"
