.top
  .header2
    .header2__logo2
      <img src="/assets/logo.png" widt="100" height="50">
    -# .header2__progress-bar2
    -#   会員情報

  .main
    .identity-information
      本人登録情報
        
    .writing
      .writing__mozi
        .writing__mozi__1
        お客さまの本人情報をご登録ください。
        .writing__mozi__2
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      .writing__mozi2
        本人確認書類のアップロードについて＞

    .q
      = fields_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .q__a
          .q__a__a1
            .q__a__a1__aa1
              = f.label :family_name,"お名前（全角）"
              %br/
            .q__a__a1__aa2
              = f.text_field :family_name, readonly: true, style: "border: none"
          .q__a__a2
            .q__a__a2__aaa1
              = f.label :first_name
            .q__a__a2__aaa2
              = f.text_field :first_name, readonly: true, style: "border: none"

        .q__b
          .q__b__b1
            .q__b__b1__bb1
              = f.label :family_name_kana
              %br/
            .q__b__b1__bb2
              = f.text_field :family_name_kana, readonly: true, style: "border: none"
          .q__b__b2
            .q__b__b2__bbb1
              = f.label :first_name_kana
              %br/
            .q__b__b2__bbb2
              = f.text_field :first_name_kana, readonly: true, style: "border: none"


    .opi
      = form_for @destination do |f|
        = render "devise/shared/error_messages", resource: @destination
        .postal-code
          .postal-code__a
            .postal-code__a__a1
              = f.label :post_code,"郵便番号"
            .postal-code__a__a2
              必須
          .postal-code__b
            = f.text_field :post_code,size:30, maxlength:7

        .prefectures
          .prefectures__c
            .prefectures__c__c1
              = f.label :prefecture_code_name,"都道府県"
            .prefectures__c__c2
              必須
          .prefectures__d
            = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, include_blank: true

        .municipality
          .municipality__e
            .municipality__e__e1
              = f.label :city,"市区町村"
            .municipality__e__e2
              必須
          .municipality__f
            = f.text_field :city,size:30

        .address
          .address__g
            .address__g__g1
              = f.label :house_number,"番地"
            .address__g__g2
              必須
          .address__h
            = f.text_field :house_number,size:30

        .building
          .building__i
            .building__i__i1
              = f.label :building,"建物名"
            .building__i__i2
              任意
          .building__j
            = f.text_field :building,size:30

        .phone
          .phone__number1
            .phone__number1__kk
              = f.label :phone_number,"電話番号"
            .phone__number1__yy
              任意
          .phone__number2
            = f.text_field :phone_number,size:30,maxlength:11

        .register
          = f.submit "登録する"

        .personal-information-registration
          本人情報の登録について＞

  .footer2
    .title
      .title__a
        プライバシーポリシー
      .title__b
        メルカリ利用規約
      .title__c
        特定商取引に関する表記
    .item
      <img src="/assets/logo-white.png" widt="50" height="50">
    .logo
      © FURIMA, Inc.