.login4
  .header51
    = image_tag asset_path("logo.png"), size: "200x50", alt: "test"

  .main
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .address51
        = f.label :email,"メールアドレス"
        .address__51
          .address__a1__777
            = f.email_field :email, autofocus: true, autocomplete: "email"
      .password
        = f.label :password,"パスワード"
        .password__a2
          .password__a2__555
            = f.password_field :password, autocomplete: "current-password"
        -# - if devise_mapping.rememberable?
      .path
        .path__a3
          = f.check_box :remember_me
        .path__a4
          = f.label :remember_me
      .login5
        %input#submit_button{:name => "submit", :type => "submit", :value => "ログイン"}/
      .notes
        = render "devise/shared/links"

  .footer51
    .title
      .title__one
        プライバシーポリシー
      .title__tow
        メルカリ利用規約
      .title__three
        特定商取引に関する表記
    .item51
      = image_tag asset_path("logo-white.png"), size: "200x60", alt: "test"
    .logo51
      © FURIMA, Inc.