.exhibition
  .header51
    = image_tag asset_path("logo.png"), size: "200x50", alt: "test"
  .main
    %section.main__block
    = form_with model:@item, local:true do |f|
      .touroku
        = flash[:edit]
      .sell__block__form
        .sell__block__form__upload
          %h3.sell__block__form__upload__head
            出品画像
            %span.require 必須
            .kai
              最大5枚までアップロードできます
          .post__drop__box__container
            .prev-content
              - @item.images.each do |image|
                .preview-box
                  .upper-box
                    = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .delete-box
                      .delete-btn
                        %span 削除

            .label-content
              = f.label :"images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--#{@item.images.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :images do |i|
                = i.file_field :image, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"
              - @item.images.length.upto(4) do |i|
                %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
      .border
      .details
        .details__title2
          .details__title2__mozi2
            商品名
          .details__title2__hissu2
            必須
        .details__type
          = f.text_field :name, placeholder:"商品名（必須 40文字まで)",size:67,maxlength:40
        .details__description
          .details__description__mozi3
            商品の説明
          .details__description__hissu3
            必須
        .details__description-input
          = f.text_field :introduction, placeholder:"商品の説明（必須 1000文字まで)",size:67,maxlength:1000

      .border

      .product-details
        .product-details__mozi4
          商品の詳細
        .product-details__categories
          .product-details__categories__mozi5
            カテゴリー
          .product-details__categories__hissu4
            必須
        .product-details__categories-input
          = f.select :parent_name, @category_parent_array, {selected:@item.category.parent.parent.name}, { class: 'product-details__categories-input--select', id: 'parent_category'}
        .product-details__categories-input#children_wrapper
          = f.select :child_id, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{}, {class: 'product-details__categories-input--select', id: 'child_category'}
        .product-details__categories-input#grandchildren_wrapper
          = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{}, {class: 'product-details__categories-input--select', id: 'grandchild_category'}
        .product-details__brand
          .product-details__brand__mozi6
            ブランド
          .product-details__brand__nini
            任意
        .product-details__brand-input
          = f.text_field :brand, placeholder:"任意",size:67
        .product-details__status
          .product-details__status__mozi7
            商品の状態
          .product-details__status__hissu5
            必須
        .product-details__status-input
          = f.collection_select :condition_id, Condition.all, :id, :value, {prompt:'--'}, class: 'product-details__status-input-1'
      .border

      .shipping
        .shipping__mozi8
          配送について
        .shipping__burden
          .shipping__burden__mozi9
            配送料の負担
          .shipping__burden__hissu6
            必須
        .shipping__burden-input
          = f.collection_select :postage_payer_id, PostagePayer.all, :id, :value, {prompt:'--'}, class: 'shipping__burden-input-1'
        .shipping__area
          .shipping__area__mozi10
            発送元の地域
          .shipping__area__hissu7
            必須
        .shipping__area-input
          = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, {prompt:'--'}, {class: "shipping__area-input-1"}
          
        .shipping__days
          .shipping__days__mozi11
            発送までの日数
          .shipping__days__hissu8
            必須
        .shipping__days-input
          = f.collection_select :preparation_day_id, PreparationDay.all, :id, :value, {prompt:'--'}, class: 'shipping__days-input-1'

      .border

      .price
        .price__mozi12
          価格（¥300〜9,999,999）
        .price__selling-price
          .price__selling-price__mozi13
            販売価格
          .price__selling-price__hissu9
            必須
          .price__selling-price__circle
            ￥
          .price__selling-price__price-input
            = f.text_field :price, placeholder:"                                     0",size:23
        .price__commission
          .price__commission__mozi14
            販売手数料（10%）
          .price__commission__display
            ー
        .price__border
        .price__profit
          .price__profit__mozi15
            販売利益
          .price__profit__display2
            ー
        .price__red-mozi
          %input#submit_button5{:name => "submit", :type => "submit", :value => "出品する"}/
        -# 追加実装のためコメントアウト
        -# .price__return
        -#   = f.submit "もどる"
        .price__notes
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .footer51
    .title
      .title__one
        プライバシーポリシー
      .title__tow
        メルカリ利用規約
      .title__three
        特定商取引に関する表記
    .item51
      = image_tag asset_path("logo-white.png"), size: "200x60", alt: "test"
    .logo51
      © FURIMA, Inc.
