.exhibition
  .header51
    = image_tag asset_path("logo.png"), size: "200x50", alt: "test"
  .main
    %section.main__block
    = form_with model:@item, url:items_path , local:true do |f|
      .sell__block__form
        .sell__block__form__upload
          %h3.sell__block__form__upload__head
            出品画像
            %span.require 必須
            .kai
              最大5枚までアップロードできます
          - if flash[:error].present?
            .errormessage008
              = flash[:error][0]
          .post__drop__box__container
            .prev-content
            .label-content
              %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :images do |i|
                = i.file_field :image, class: "hidden-field"
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
      .border
      
      .details
        .details__title2
          .details__title2__mozi2
            商品名
          .details__title2__hissu2
            必須
        - if flash[:error].present?
          .errormessage007
            = flash[:error][1]
        .details__type
          = f.text_field :name, placeholder:"商品名（必須 40文字まで)",size:67,maxlength:40
        .details__description
          .details__description__mozi3
            商品の説明
          .details__description__hissu3
            必須
        - if flash[:error].present?
          .errormessage007
            = flash[:error][2]
        .details__description-input
          = f.text_field :introduction, placeholder:"商品の説明（必須 1000文字まで)",size:67,maxlength:1000

      .border

      .product-details
        .product-details__mozi4
          商品の詳細
        .product-details__categories
          .product-details__categories__mozi5
            カテゴリー
          .product-details__categories__hissu4
            必須
        - if flash[:error].present?
          .errormessage007
            = flash[:error][3]
        .product-details__categories-input
          = f.select :category, Category.where(ancestry: nil).pluck(:name), {prompt:'---'}, {class: 'product-details__categories-input--select', id: 'parent_category'}
        .product-details__brand
          .product-details__brand__mozi6
            ブランド
          .product-details__brand__nini
            任意
        .product-details__brand-input
          = f.text_field :brand, placeholder:"任意",size:67
        .product-details__status
          .product-details__status__mozi7
            商品の状態
          .product-details__status__hissu5
            必須
        - if flash[:error].present?
          .errormessage007
            = flash[:error][4]
        .product-details__status-input
          = f.collection_select :condition_id, Condition.all, :id, :value, {prompt:'--'}, class: 'product-details__status-input-1'
      .border

      .shipping
        .shipping__mozi8
          配送について
        .shipping__burden
          .shipping__burden__mozi9
            配送料の負担
          .shipping__burden__hissu6
            必須
        - if flash[:error].present?
          .errormessage007
            = flash[:error][5]
        .shipping__burden-input
          = f.collection_select :postage_payer_id, PostagePayer.all, :id, :value, {prompt:'--'}, class: 'shipping__burden-input-1'
        .shipping__area
          .shipping__area__mozi10
            発送元の地域
          .shipping__area__hissu7
            必須
        - if flash[:error].present?
          .errormessage007
            = flash[:error][6]
        .shipping__area-input
          = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, {prompt:'--'}, {class: "shipping__area-input-1"}
          
        .shipping__days
          .shipping__days__mozi11
            発送までの日数
          .shipping__days__hissu8
            必須
        - if flash[:error].present?
          .errormessage007
            = flash[:error][7]
        .shipping__days-input
          = f.collection_select :preparation_day_id, PreparationDay.all, :id, :value, {prompt:'--'}, class: 'shipping__days-input-1'

      .border

      .price
        .price__mozi12
          価格（¥300〜9,999,999）
        - if flash[:error].present?
          .errormessage007
            = flash[:error][8]
        .price__selling-price
          .price__selling-price__mozi13
            販売価格
          .price__selling-price__hissu9
            必須
          .price__selling-price__circle
            ￥
          .price__selling-price__price-input
            -# = f.text_field :price, placeholder:"                                     0",size:23
            %input#price_calc.price-pulldown-blue{placeholder: "例) 300", type: "number", size:23}/
            = f.number_field :price, style: "display: none", id: "price"
        .price__commission
          .price__commission__mozi14
            販売手数料（10%）
          .price__commission__display
            = f.number_field :commission, style: "display: none", id: "commission"
            .right_bar
        .price__border
        .price__profit
          .price__profit__mozi15
            販売利益
          .price__profit__display2
            = f.number_field :profit, style: "display: none", id: "profit"
            .right_bar_2
        .price__red-mozi
          %input#submit_button5{:name => "submit", :type => "submit", :value => "出品する"}/
        -# 追加実装のためコメントアウト
        -# .price__return
        -#   = f.submit "もどる"
        .price__notes
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .footer51
    .title
      .title__one
        プライバシーポリシー
      .title__tow
        メルカリ利用規約
      .title__three
        特定商取引に関する表記
    .item51
      = image_tag asset_path("logo-white.png"), size: "200x60", alt: "test"
    .logo51
      © FURIMA, Inc.
