.user-register
  .header
    .header__logo
      = image_tag asset_path("logo.png"), size: "200x50", alt: "test"
  .buydetails-mein.clearfix
    %section.buydetails-content
      %h2.buydetails-content__head 購入が完了しました！
      -# .buy-content__inner
      -#   .buy-item__box
      -#     %h3.buy-item-image
      -#     -# = image_tag @image[0].image.url
      -#     .buy-item__detail
      -#       %p.buy-item__name 
      -#         =@item.name
      -#       %p.buy-item__price 
      -#         %span ¥10,000（税込）
      -#         %span.buy-item__send 送料込み
      -# %section.buy-content-item
      -#   .buy-content__inner
      -#     .buy-form
      -#       %ul.buy-price__table
      -#         %li.buy-price
      -#           .buy-price__label 支払い金額
      -#           .buy-price__label__sell
      -#             %span.deta-by-pay ¥10,000
      %section.buydetails-content__info{ id: 'buydetails-bottom' }
        .buydetails-content__text
          %button.buydetails-content__btn 
            =link_to root_path, class:"buydetails-content__bt" do
              %span トップページに戻る

          
.footer
  %ul.nakamis
    %li.nakami
      %h2.nakami__head FURIMAについて
      %ul
        %li<
          = link_to url="#" do
            会社概要(運営会社)
        %li<
          = link_to url="#" do
            プライバシーポリシー
        %li<
          = link_to url="#" do
            FURIMA利用規約
        %li<
          = link_to url="#" do
            ポイントに関する特約
    %li.nakami
      %h2.nakami__head FURIMAを見る
      %ul
        %li<
          = link_to url="#" do 
            カテゴリー一覧
        %li<
          = link_to url="#" do 
            ブランド一覧
    %li.nakami
      %h2.nakami__head ヘルプ&ガイド
      %ul
        %li<
          = link_to url="#" do 
            FURIMAガイド
        %li<
          = link_to url="#" do 
            FURIMAロゴ利用ガイドライン
        %li<
          = link_to url="#" do 
            お知らせ
  .footer__lg
    = link_to url="#" do
      = image_tag "logo-white.png"
    %p ©︎FURIMA